/*--- Footer ---*/

footer {
    font-family: var(--font-family-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

/*--- Flex on each footer section ---*/

.socials, .contact, .payment {
    display: flex;
    flex-direction: column;
}

/*--- Image margin ---*/

.socials svg, .payment img {
    margin: 1rem 0;
}

/*--- Socials ---*/

.facebook-logo:hover, .twitter-logo:hover, .instagram-logo:hover {
    color: #ff66ff;
}

/*--- Contacts ---*/

.footer-text, .contact-text {
    text-align: center;
    margin: 0;
}

.footer-text {
    font-size: var(--font-size-s);
}

.contact-text {
    font-size: var(--font-size-xs);
}

.footer-button {
    font-family: var(--font-family-title);
    margin: 0.5rem;
}

.contact img {
    width: 8rem;
    align-self: center;
}

/*--- Payment ---*/

.payment-1, .payment-2, .payment-3 {
    width: 2rem;
}