.booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*--- Form text styling ---*/
h1, label, .box {
    color: var(--color-white);
}

label, .box {
    font-family: var(--font-family-text);
}

.form-title, .form-guest, .dates, .form-room, .total-cost {
    text-align: center;
    margin: 1rem;
}

/*--- Input font and padding ---*/
#name, #transferCode, #arrival, #departure, #room.form-input {
    font-family: var(--font-family-text);
    padding: 0.25rem;
}

/*--- Features displayed 4 by 2 and centered ---*/
.feature-box {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    width: 100%;
    margin: 1.25rem auto;
    gap: 0.5rem;
}

.box {
    min-width: 100px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/*--- Coin by feature selection ---*/
.cost-img {
    width: 1rem;
}

/*--- Book button styling ---*/
.book-button {
    font-family: var(--font-family-title);
    font-size: var(--font-size-m);
    text-align: center;
    margin-bottom: 1rem;
}