/*--- Styling display of rooms ---*/

.room {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 0.1rem #fff;
    gap: 3rem;
}

.room-info img {
    width: 20rem;
}

.room-info h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-l);
    color: var(--color-white);
    text-align: center;
    margin: 1rem 0 0;
}

.room-info p {
    font-family: var(--font-family-text);
    color: var(--color-white);
}