.staff {
    display: flex;
    flex-direction: column;
}

.staff-info {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

.staff-info .staff-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.staff-info img {
    width: 15rem;
    border-radius: 50%;
}

.staff h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-l);
    color: var(--color-white);
    text-align: center;
    margin: 1rem 0 0;
}